<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	
  <targets>
    <target name="ColoredConsoleAppender"
            xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss.fff}] [${threadid}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=ToString}"
            useDefaultRowHighlightingRules="false">
      <highlight-row backgroundColor="Black" foregroundColor="Green"  condition="level==LogLevel.Debug" />
      <highlight-row backgroundColor="Black" foregroundColor="White"  condition="level==LogLevel.Info" />
      <highlight-row backgroundColor="Black" foregroundColor="Yellow" condition="level==LogLevel.Warn" />
      <highlight-row backgroundColor="Black" foregroundColor="Red"    condition="level==LogLevel.Error" />
      <highlight-row backgroundColor="Red"   foregroundColor="White"  condition="level==LogLevel.Fatal" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ColoredConsoleAppender" />
  </rules>
</nlog>
